<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vscapp02.mapper.NoticeMapper">

    <resultMap id="NoticeMap" type="Notice" autoMapping="true">
        <id column="notice_no" property="noticeNo"/>
        <id column="writer_id" property="writerId"/>
        <id column="reg_type" property="regType"/>
        <id column="header_type" property="headerType"/>
        <id column="content_open" property="contentOpen"/>
    </resultMap>

    <select id="selectHeaderNotices" parameterType="map" resultMap="NoticeMap">
        SELECT
            notice_no,
            title,
            CONVERT(content USING euckr) as content,
            writer_id,
            password,
            hits,
            reg_type,
            header_type,
            file_size AS fileSize,
            file_name_origin AS fileNameOrigin,
            file_name_upload AS fileNameUpload,
            file_type AS fileType,
            content_open,
            inpdt,
            moddt
        FROM fa_notice
        WHERE 1=1
        AND header_type = #{notice.headerType}
        <if test="notice.contentOpen != null and notice.contentOpen !=''">
            AND content_open = '1'
        </if>
        ORDER BY inpdt DESC
    </select>

    <select id="selectNotices" parameterType="map" resultMap="NoticeMap">
        SELECT
            notice_no,
            title,
            CONVERT(content USING euckr) as content,
            writer_id,
            password,
            hits,
            reg_type,
            header_type,
            file_size AS fileSize,
            file_name_origin AS fileNameOrigin,
            file_name_upload AS fileNameUpload,
            file_type AS fileType,
            content_open,
            inpdt,
            moddt
            FROM fa_notice
            WHERE 1=1
            <if test="notice.contentOpen != null and notice.contentOpen !=''">
                AND content_open = '1'
            </if>
            <if test="notice.writerId != null and notice.writerId !=''">
                AND writer_id = #{notice.writerId}
            </if>
            <if test="notice.noticeNo != null and notice.noticeNo !=''">
                AND notice_no = #{notice.noticeNo}
            </if>
            <if test="notice.title != null and notice.title !=''">
                AND title LIKE CONCAT('%',#{notice.title},'%')
            </if>
            <if test="notice.content != null and notice.content !=''">
                AND content LIKE CONCAT('%',#{notice.content},'%')
            </if>
            AND header_type = #{notice.headerType}
            ORDER BY inpdt DESC
            LIMIT #{pagerInfo.start}, #{pagerInfo.itemCountPerPage}
    </select>

    <select id="selectNoticeTotalCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM fa_notice
        WHERE 1=1
        <if test="notice.contentOpen != null and notice.contentOpen !=''">
            AND content_open = '1'
        </if>
        <if test="notice.writerId != null and notice.writerId !=''">
            AND writer_id = #{notice.writerId}
        </if>
        <if test="notice.noticeNo != null and notice.noticeNo !=''">
            AND notice_no = #{notice.noticeNo}
        </if>
        <if test="notice.title != null and notice.title !=''">
            AND title LIKE CONCAT('%',#{notice.title},'%')
        </if>
        <if test="notice.content != null and notice.content !=''">
            AND content LIKE CONCAT('%',#{notice.content},'%')
        </if>
        AND header_type = #{notice.headerType}
    </select>

    <select id="selectNotice" resultType="Notice">
        SELECT
            notice_no,
            title,
            CONVERT(content USING euckr) as content,
            writer_id,
            password,
            hits,
            reg_type,
            header_type,
            file_size AS fileSize,
            file_name_origin AS fileNameOrigin,
            file_name_upload AS fileNameUpload,
            file_type AS fileType,
            content_open,
            inpdt,
            moddt
        FROM fa_notice
        WHERE notice_no = #{notice.noticeNo}
    </select>

    <update id="updateNotice">
        UPDATE fa_notice SET
            title = #{notice.title},
            content = #{notice.content},
            file_size = #{notice.fileSize}, 
            file_name_origin = #{notice.fileNameOrigin}, 
            file_name_upload = #{notice.fileNameUpload}, 
            file_type = #{notice.fileType}, 
            header_type = #{notice.headerType}, 
            content_open = #{notice.contentOpen}
        WHERE notice_no = #{notice.noticeNo}
    </update>

    <insert id="insertNotice">
        INSERT INTO fa_notice (writer_id, password, title, content, file_size, file_name_origin, file_name_upload, file_type, header_type, content_open)
        VALUES( #{notice.writerId}, #{notice.password}, #{notice.title}, #{notice.content},#{notice.fileSize}, #{notice.fileNameOrigin}, #{notice.fileNameUpload}, #{notice.fileType}, #{notice.headerType}, #{notice.contentOpen})
    </insert>

    <delete id="deleteNotice">
        DELETE FROM fa_notice WHERE notice_no = #{notice.noticeNo}
    </delete>

</mapper>